body {
    margin: 0px;
    padding: 0px;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
}

/* Header section styling */

.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    background-color: #ffffff;
}

.nav-items {
    display: none;
    list-style: none;
    background-size: cover;
    text-align: left;
}

.nav-request-button {
    display: none;
}

.header-section {
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 3rem 5rem 10rem 3rem;
    text-align: center;
    font-size: 1rem;
}

.mockup {
    padding-top: 2rem;
    height: 100%;
    width: 100%;
}

.request-main:hover {
    color: #ffffff;
}

/* Why choose us section styling */

.why-choose-section {
    padding: 1% 10% 5% 10%;
    text-align: center;
    background-color: hsl(220, 16%, 96%);
}

article {
    padding: 1rem 2rem;
}

.article-header {
    padding-top: 5%;
    text-align: center;
}

.article-images {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article-section {
    background-color: hsl(0, 0%, 98%);
    
    text-align: center;
   
    
}

.articles-container {
    background-color: hsl(0, 0%, 100%);
    margin: 0% 5% 5% 5%;
    border-radius: 20px;
    /* text-align: center; */
}

.article-content {
    padding: 0% 4% 2% 4%;
}

/* footer section styling */

footer {
    background-color: hsl(233, 26%, 24%);
    padding: 2rem 0rem 2rem 0rem;
    color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links {
    margin-top: 10%;
}

.footer-app-logo {
    /* background-color: hsl(0, 0%, 98%); */

    background-size: cover;
    margin-bottom: 10%;
}



.foot-links {
    list-style: none;
}

.foot-links li:hover {
    color: hsl(136, 65%, 51%);
    border-bottom: none;
}

.all-rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.request-footer:hover {
    color: #ffffff;
    width: 110%;
    height: 110%;
}

.nav-links {
    color: #000000;
    text-decoration: none;
}

.social-media-images:hover {
    cursor: pointer;
}

/* styles made using tag name */

button {
    background: linear-gradient(to right, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    border: none;
    padding: 0.8rem 4rem 0.8rem 4rem;
    border-radius: 50px;
    cursor: pointer;
}

li {
    margin-top: 5%;
}

li:hover {
    color: #000000;
    cursor: pointer;
    border-bottom: 3px solid hsl(136, 65%, 51%);
}

h4:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}

small {
    margin-top: 10%;
    color: rgb(167, 163, 163);
}

/* Style changed for screen-size above 1200px */
 @media (max-width: 400px) {
    article {
        display: flex;
        flex-direction: column;
        padding:1rem 2rem;
    }
   
} 


@media (min-width: 1200px) {
    body {
        font-size: 1.1rem;
    }



    .hamburger-image {
        display: none;
    }

    .nav-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .why-choose-header {
        width: 20%;
    }

    .nav-bar {
        display: flex;
        justify-content: space-around;
    }


    .nav-request-button {
        display: block;
        cursor: pointer;
    }

    .nav-request-button:hover {
        color: #ffffff;
    }

    .header-section {
        background-image: url("./images/bg-intro-desktop.svg");
        background-position: 115%;
        background-size: 60%;
        height: 70vh;
        background-color: hsl(0, 0%, 98%);
        display: flex;
        flex-direction: row-reverse;
    }



    .details-container {
        display: flex;
        justify-content: space-evenly;
        text-align: start;
        margin-top: 5%;
    }

    .why-choose-section {
        text-align: start;
    }



    .social-media-container {
        margin-top: 30%;
        justify-content: space-around;
    }

    .social-media-images {
        margin-left: 2%;
    }

    .why-choose-sub-container {
        margin-right: 3rem;
    }

    .foot-links {
        color: hsl(0, 0%, 98%);
        margin-top: 0%;
        width: 20%;
        column-count: 2;
        column-rule: dotted 1px #333;
        list-style-type: none;
        font-size: 1.2rem;
    }


    .article-header {
        text-align: start;
        padding-left: 8.5%;
    }

    .mockup {
        padding-top: 10rem;
        height: 110%;
        width: 80%;
    }




    button {
        padding: 1rem 5rem 1rem 5rem;
    }

    article {
        display: flex;
        margin: auto;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        height: 15rem;
    }

    main {
        padding: 10% 20% 10% 10%;
        text-align: start;
        font-size: 32px;
    }

}



/* Hamburger styling */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
   
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: rgb(18, 16, 16);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(101, 97, 97, 0);
    
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* Hamburger styling for screen size blow 1200px */

@media (max-width: 1200px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        /* position: absolute; */
        display: flex;
        top: 0;
        /* margin-top: 50px; */
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid rgb(249, 246, 246);
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: rgb(5, 5, 5);
        background-color: #ffffff;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}